body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5c606f;
  color: white;
  text-align: center;
  padding: 20px;
}

.search-form {
  text-align: center;
  margin: 20px 0;
}

input[type='text'] {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.photo-card {
  width: 20%;
  background-color: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.photo-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
